header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
img{
    width: 15%;
    margin: 10%;
    height: 15%;
    margin-left: 40%;
}